.PasswordContainer,
.PasswordContainer label {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.PasswordContainer .Password {
    color: #1189FC;
    border: 1px solid #99CDFF;
    background: #FFFFFF;
    margin: 0.5em 0;
    padding: 0.2em 0.6em;
    border-radius: 0.4em;
}

.PasswordContainer .Password:invalid {
    color: #FD0094;
    border: 1px solid #FF91D1;
}

.PasswordContainer .PasswordHelperText {
    font-size: 0.8em;
    color: #BF9CFF;
}